.menu--chic {
  background-color: #FFF5FE;
}
.menu--chic h2 {
  font-family: "Croissant One", cursive;
  font-size: 2rem;
}
.menu--chic__starter {
  color: #C67412;
}
.menu--chic__plates {
  color: #A56799;
}
.menu--chic__desserts {
  color: #6E4CCC;
}
.menu--chic__title {
  font-family: "Montserrat", sans-serif;
}
.menu--chic__header {
  background: -webkit-linear-gradient(90deg, #E38913, #8F5BFE);
  background: linear-gradient(90deg, #E38913, #8F5BFE);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--chic .menu__section__title:hover hr {
  background-color: black;
  animation: underline-anim 2s;
}
@media screen and (max-width: 870px) {
  .menu--chic .menu__section__title {
    font-size: 1.1rem;
  }
  .menu--chic .menu__section__title:hover hr {
    background: none;
  }
}

.menu--delight h2 {
  font-family: "Dancing Script", cursive;
}
.menu--delight .menu__content {
  font-family: "Architects Daughter", cursive;
}
.menu--delight .menu__header {
  background: -webkit-linear-gradient(90deg, #0925DB, #42A5FF);
  background: linear-gradient(90deg, #0925DB, #42A5FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--delight .menu__section__title:hover hr {
  background-color: black;
  animation: underline-anim 2s;
}
@media screen and (max-width: 870px) {
  .menu--delight .menu__section__title {
    font-size: 1.1rem;
  }
  .menu--delight .menu__section__title:hover hr {
    background: none;
  }
}

.menu--note {
  background-color: #FCDFDB;
  color: #3D1319;
  font-weight: 100;
}
.menu--note h2 {
  font-family: "devonshire", cursive;
}
.menu--note p, .menu--note h3 {
  font-family: "Architects Daughter", cursive;
}
.menu--note i {
  background: -webkit-linear-gradient(90deg, #f15c61, #f6916a);
  background: linear-gradient(90deg, #f15c61, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--note .menu__section__title:hover hr {
  background-color: black;
  animation: underline-anim 2s;
}
@media screen and (max-width: 870px) {
  .menu--note .menu__section__title {
    font-size: 1.1rem;
  }
  .menu--note .menu__section__title:hover hr {
    background: none;
  }
}
.menu--note .menu__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.menu--note .menu__footer i {
  font-size: 2rem;
  margin-right: 1rem;
}
.menu--note .menu__footer__heading {
  font-family: "devonshire", cursive;
  font-size: 2rem;
  font-weight: normal;
}

.menu--taste {
  background-color: #f9fff9;
}
.menu--taste h2 {
  font-family: "kaushan script", cursive;
}
.menu--taste__content {
  font-family: "Architects Daughter", cursive;
}
.menu--taste__header {
  background: -webkit-linear-gradient(90deg, #3D923A, #BEFF7F);
  background: linear-gradient(90deg, #3D923A, #BEFF7F);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--taste .menu__section__title:hover hr {
  background-color: black;
  animation: underline-anim 2s;
}
@media screen and (max-width: 870px) {
  .menu--taste .menu__section__title {
    font-size: 1.1rem;
  }
  .menu--taste .menu__section__title:hover hr {
    background: none;
  }
}

@keyframes dots {
  50% {
    opacity: 0;
  }
}
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -2px);
  }
  20% {
    transform: translate(-3px, 0px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 2px);
  }
  60% {
    transform: translate(-3px, 1px);
  }
  70% {
    transform: translate(3px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(1px, -2px);
  }
}
@keyframes underline-anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
body {
  margin: 0;
  min-height: 100vh;
}

.header {
  background-color: #559c84;
  color: #fdcb46;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
}

.logo_header {
  margin: 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.1rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 2rem 0 4.5rem 0;
}

.menu_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 2rem;
}

.menu_resto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  max-height: 500px;
  margin: 1.5rem;
  -webkit-box-shadow: 0 0 8px 3px #D8D8D8;
  box-shadow: 0 0 10px 3px #D8D8D8;
  overflow: hidden;
  cursor: pointer;
}

.transition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 500ms;
}
.transition:hover {
  opacity: 0.8;
  transform: scale(1.25);
}

.note {
  background-color: #FCDFDB;
  color: #3D1319;
}
.note h2 {
  font-family: "devonshire", cursive;
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}
.note h3 {
  font-size: 2rem;
  font-family: "itim", cursive;
}
.note i {
  font-size: 3rem;
  background: -webkit-linear-gradient(90deg, #f15c61, #f6916a);
  background: linear-gradient(90deg, #f15c61, #f6916a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chic {
  background-color: #FFF5FE;
}
.chic h2 {
  font-family: "Croissant One", cursive;
  background: -webkit-linear-gradient(90deg, #E38913, #8F5BFE);
  background: linear-gradient(90deg, #E38913, #8F5BFE);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chic h3 {
  font-family: "Crimson Pro", serif;
  font-size: 2rem;
  background: -webkit-linear-gradient(90deg, #E38913, #8F5BFE);
  background: linear-gradient(90deg, #E38913, #8F5BFE);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delight {
  background-color: #F8F8F8;
}
.delight h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  background: -webkit-linear-gradient(90deg, #0925DB, #42A5FF);
  background: linear-gradient(90deg, #0925DB, #42A5FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.delight h3 {
  font-size: 2rem;
  font-family: "itim", cursive;
  background: -webkit-linear-gradient(90deg, #0925DB, #42A5FF);
  background: linear-gradient(90deg, #0925DB, #42A5FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.taste {
  background-color: #f9fff9;
}
.taste h2 {
  font-family: "kaushan script", cursive;
  font-size: 2rem;
  background: -webkit-linear-gradient(90deg, #3D923A, #BEFF7F);
  background: linear-gradient(90deg, #3D923A, #BEFF7F);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.taste h3 {
  font-size: 2rem;
  font-family: "itim", cursive;
  background: -webkit-linear-gradient(90deg, #3D923A, #BEFF7F);
  background: linear-gradient(90deg, #3D923A, #BEFF7F);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav_link {
  text-decoration: none;
  color: #fdcb46;
}
.nav_link:hover {
  animation: wiggle 1s infinite;
}

.next {
  margin-bottom: 50px;
}

.footer {
  width: 100%;
  background-color: #559c84;
  position: fixed;
  bottom: 0;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 748px;
  min-height: 1058px;
  margin: 1.5rem;
  padding: 0 2rem;
  -webkit-box-shadow: 0 0 8px 3px #D8D8D8;
  box-shadow: 0 0 10px 3px #D8D8D8;
}
@media screen and (max-width: 870px) {
  .menu {
    width: 85%;
    margin: 1rem;
    padding: 0 1rem;
    text-align: center;
  }
}
.menu__header {
  margin: 3rem 0;
  text-align: center;
}
@media screen and (max-width: 870px) {
  .menu__header {
    margin: 2rem 0;
  }
}
.menu__header i {
  font-size: 3rem;
}
.menu__heading {
  margin: 0;
  padding: 0 1rem;
  font-weight: normal;
  font-size: 3rem;
}
.menu__content {
  width: 100%;
}
.menu__path {
  width: 30%;
}
.menu__path svg {
  width: 100%;
}
.menu__section__heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (max-width: 870px) {
  .menu__section__heading {
    flex-direction: column;
    align-items: center;
  }
}
.menu__section__title {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}
.menu__section__title hr {
  margin: 0;
  height: 2px;
  border: none;
  background-color: transparent;
}
@media screen and (max-width: 870px) {
  .menu__section__title {
    font-size: 1rem;
  }
}
.menu__section__name {
  margin: 0.4rem 0;
  font-size: 1rem;
}
@media screen and (max-width: 470px) {
  .menu__section__name {
    font-size: 0.9rem;
  }
}
.menu__section__price {
  margin: 0;
  font-size: 1.2rem;
}
@media screen and (max-width: 470px) {
  .menu__section__price {
    font-size: 1rem;
  }
}
.menu__section ul {
  list-style-type: none;
  padding: 0 4rem;
  margin: 1.8rem 0 4rem 0;
}
@media screen and (max-width: 870px) {
  .menu__section ul {
    margin: 0.9rem 0 2rem 0;
    padding: 0;
  }
}
.menu__section li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 870px) {
  .menu__section li {
    flex-direction: column;
    align-items: center;
  }
}
.menu__footer__heading {
  margin: 0;
}
.menu__footer .semiquaver {
  width: 10%;
  height: auto;
}

button {
  background-color: #559c84;
  color: #fdcb46;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding: 0.2rem 2rem 0.5rem 2rem;
  border-radius: 10px;
  border: none;
}
@media screen and (max-width: 470px) {
  button {
    font-size: 1.1rem;
  }
}

.pre_title {
  font-family: "Montserrat", sans-serif;
}

span {
  font-size: 1.7rem;
  display: inline-block;
  animation: dots 2s ease-in-out infinite;
}
span:nth-child(2) {
  animation-delay: 0.4s;
}
span:nth-child(3) {
  animation-delay: 0.8s;
}

/*# sourceMappingURL=style.css.map */
