.menu--taste{
    background-color: $taste-background-color;
    h2{
        font-family: 'kaushan script', cursive;
    }
    &__content{
        font-family: 'Architects Daughter', cursive;
    }
    &__header{
        background: -webkit-linear-gradient(90deg,$taste-gradient-start-color ,$taste-gradient-end-color);
        background: linear-gradient(90deg, $taste-gradient-start-color ,$taste-gradient-end-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .menu{
        &__section {
            &__title {
                &:hover hr {
                    background-color: black ;
                    animation: underline-anim 2s;  
                }
                @media screen and (max-width: 870px) {
                    font-size: 1.1rem;
                    &:hover hr {
                        background: none;
                    }
                }
            }
        }
    }
}