// animation 3 petits points
@keyframes dots {
    50% { opacity: 0;}
}

// animation wigle des boutons contact et mentions légales
@keyframes wiggle {
    0% { transform: translate(1px, 1px); }
    10% { transform: translate(-1px, -2px); }
    20% { transform: translate(-3px, 0px); }
    30% { transform: translate(3px, 2px); }
    40% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 2px); }
    60% { transform: translate(-3px, 1px); }
    70% { transform: translate(3px, 1px); }
    80% { transform: translate(-1px, -1px); }
    90% { transform: translate(1px, 2px); }
    100% { transform: translate(1px, -2px); }
}
// animation de soulignage de titre
@keyframes underline-anim{
    0% {width: 0%;}
    100% {width: 100%;}
}