// variables
$header-color: #559c84;
$header-font-color: #fdcb46;
$header-font: 'Montserrat', sans-serif;
$note-color: #FCDFDB;
$note-font-color: #3D1319;
$chic-color: #FFF5FE;
$delight-color: #F8F8F8;
$taste-color: #f9fff9;
$box-shadow-menu-color:#D8D8D8;
$chic-starter-color: #C67412;
$chic-plates-color: #A56799;
$chic-desserts-color: #6E4CCC;
$taste-background-color: #f9fff9;

// gradient couleur note musicale
$note-gradient-start-color: #f15c61;
$note-gradient-end-color: #f6916a;

// gradient menu Le chic à la française
$chic-gradient-start-color: #E38913;
$chic-gradient-end-color: #8F5BFE;

// gradient menu La palette du goût
$taste-gradient-start-color: #3D923A;
$taste-gradient-end-color: #BEFF7F;

// gradient menu Le délices des papillles
$delight-gradient-start-color: #0925DB;
$delight-gradient-end-color: #42A5FF;